html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  /* perspective:800px; */
  margin: 8rem 24px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 200px;
  height: 320px;
  /* background-color:  rgb(85, 25, 25); */
  background: linear-gradient(
    -130deg,
    rgb(135, 34, 128) 60%,
    rgb(13, 35, 95) 40%
  );
  border-left: 20px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.6);
  position: relative;
  background-clip: padding-box;
}

.box h2 {
  padding: 24px 12px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.box .line {
  position: absolute;
  height: 2px;
  background-color: white;
  width: 100%;
  bottom: 36px;
}

.t1 {
  transform: perspective(800px) rotateY(45deg);
}

.t2 {
  transform: translateX(-110px) rotate(-8deg) scale(1.005);
}

.t3 {
  /* transform: translateX(50px); */
  /* transform: translateY(-30px); */
  /* transform: translate(550px, -30px); */
  transform: perspective(800px) translateZ(100px) translateX(-120px) translateY(-30px);
}

.t4 {
    transform: rotate(45deg) translateX(-120px) translateY(100px);
}
.t5 {
    transform: perspective(800px) rotateX(55deg);
}

.t6 {
    transform: perspective(600px) rotateY(45deg) translateY(100px);
}

.t7 {
    transform: perspective(600px) rotateZ(45deg) translateY(120px);
}